.botonArchivo-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.botonAlto {
	height: 100px;
}

.iconoBoton:hover {
	filter: brightness(75%);
}

.iconoBoton:active {
	filter: brightness(150%);
}

.tamanoInputCalculadora {
	height: 5rem;
}

.botonArchivo {
	border: 2px solid #00aff0;
	color: #00aff0;
	background-color: white;
	padding: 4px 15px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: bold;
}

.botonArchivo-wrapper input[type='file'] {
	font-size: 50px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
	background-color: #fdba12;
	border: 1px solid #fdba12;
}

.CalendarDay__selected_span {
	background: rgb(254, 215, 119);
	border: 1px solid #fdba12;
	color: #fff;
}
.CalendarDay__selected_span:hover {
	background: rgb(254, 215, 119);
	border: 1px solid #bf8c0d;
	color: #fff;
}

.CalendarDay__hovered_span {
	background: rgb(254, 215, 119);
	border: 1px solid #bf8c0d;
	color: #fff;
}
.CalendarDay__hovered_span:hover {
	background: #fdba12;
	border: 1px solid #fdba12;
	color: #fff;
}

.DateInput_input {
	font-size: 17px;
	padding: 6px 6px 4px;
}

.DateInput_input__focused {
	border-bottom: 2px solid #fdba12;
}
@media (max-width: 650px) {
	.claseCalendario {
		font-size: 13.5px;
	}
	.DateInput_input {
		font-size: 15px;
		padding: 5px 5px 3px;
	}
}

.claseBoton {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 50px;
}

.botonAzul.claseCalendario.btn.btn-secondary.active {
	background-color: red;
}
.botonAmarillo.claseCalendario.btn.btn-secondary.active {
	background-color: #bf8c0d;
}

.claseBoton3 {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 5px;
}

.botonCuadrado {
	height: 150px;
	width: 150px;
	font-size: 20px;
	font-weight: bold;
}
.h100 {
	height: 100% !important;
}
.w100 {
	width: 100%;
}
.w75 {
	width: 75%;
}
.w50 {
	width: 50%;
}
.circulo {
	border-radius: 50%;
}
/*MAYUSCULAS Y MINUSCULAS*/
.minus {
	text-transform: lowercase;
}
.mayus {
	text-transform: uppercase;
}
.pmayus:first-letter {
	text-transform: uppercase;
}
.grisObscuro {
	color: #5f5457;
}
.tamanoProductoImg {
	width: 75px;
}
.tamanoProductoImg2 {
	width: 200px;
	padding-top: 30px;
}

.tamanoProductoImg3 {
	width: 300px;
	padding-top: 30px;
}

@media (max-width: 692px) {
	.letraChicaInput2 {
		font-size: 0.85em !important;
		padding: 0.5em !important;
		height: 2.5em !important;
	}
	.letraTamanoChico {
		font-size: 13;
	}
}
@media (min-width: 692px) {
	.letraChicaInput2 {
		font-size: 1em !important;
		padding: 0.5em !important;
		height: 2.5em !important;
	}
	.letraTamanoChico {
		font-size: 15;
	}
}
@media (min-width: 900px) {
	.letraTamanoChico {
		font-size: 16;
	}
}

.widthbotones {
	width: 205.36px;
}
.claseBotonCuadrado {
	width: 42px;
	height: 42px;
}
/*contendedor del boton overlay sobre imagen*/
/*.contenedorOverlay {
    position: relative;
    width: 50%;
 }

.contenedorOverlay img {
    width: 100%;
    height: auto;
}

.contenedorOverlay .botonOverlay {
    position: absolute;
    top: 75%;
    left: 0%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}

.contenedorOverlay .botonOverlay:hover {
    background-color: lightgray;
}*/

/*----------------------------------------------------------------
COLORES

NEGRO #231F20

AZUL #00AFF0
AZUL HOVER #33c9ff
AZUL CLARO #80ddff
AZUL HOVER #4dcfff

ROJO #EA4435
ROJO HOVER #BF382B

VERDE #79C254
VERDE HOVER #55893B

AMARILLO #FDBA12
AMARILLO HOVER #BF8C0D

/*----------------------------------------------------------------*/
/* BOTONES Y HOVER */
.botonAzul {
	background: #00aff0;
	color: white;
	border: none;
	font-weight: bold;
}
.botonAzul:hover {
	background: #33c9ff;
	color: white;
}
.botonAzulClaro {
	background: #80ddff;
	color: white;
	border: none;
	font-weight: bold;
}
.botonAzulClaro:hover {
	background: #4dcfff;
	color: white;
}
.botonRojo {
	background: #ea4435;
	color: white;
	border: none;
	font-weight: bold;
}
.botonRojo:hover {
	background: #bf382b;
	color: white;
}
.botonVerde {
	background: #79c254;
	color: white;
	border: none;
	font-weight: bold;
}
.botonVerde:hover {
	background: #55893b;
	color: white;
}
.botonAmarillo {
	background: #fdba12;
	color: white;
	border: none;
	font-weight: bold;
}
.botonAmarillo:hover {
	background: #bf8c0d;
	color: white;
}
.botonAmarillo.active {
	background-color: #bf8c0d !important;
}
.botonBlanco {
	background: white;
	color: #231f20;
	border: none;
	font-weight: bold;
}
.botonBlanco:hover {
	background: #ea4435;
	color: white;
}

/*azul*/
.botonBlanco1 {
	background: white;
	color: #00aff0;
	border: none;
	font-weight: bold;
}
.botonBlanco1:hover {
	background: #e6e6e6;
	color: #00aff0;
}
/*amarillo*/
.botonBlanco2 {
	background: white;
	color: #fdba12;
	border: none;
	font-weight: bold;
}
.botonBlanco2:hover {
	background: #e6e6e6;
	color: #fdba12;
}
/*rojo*/
.botonBlanco3 {
	background: white;
	color: #ea4435;
	border: none;
	font-weight: bold;
}
.botonBlanco3:hover {
	background: #e6e6e6;
	color: #ea4435;
}
/*verde*/
.botonBlanco4 {
	background: white;
	color: #79c254;
	border: none;
	font-weight: bold;
}
.botonBlanco4:hover {
	background: #e6e6e6;
	color: #79c254;
}

.botonNegro {
	background: #231f20;
	color: white;
	border: none;
	font-weight: bold;
}
.botonNegro:hover {
	background: white;
	color: #231f20;
}
.botonNegro2 {
	background: #231f20;
	color: white;
	border: none;
	font-weight: bold;
}
.botonNegro2:hover {
	background: #363031;
	color: white;
}
.botonGris {
	background: grey;
	color: white;
	border: none;
	font-weight: bold;
}
.botonGris:hover {
	background: #231f20;
	color: white;
}
.botonGrisClaro {
	background: #e6e6e6;
	color: #231f20;
	border: none;
	font-weight: bold;
}
.botonGrisClaro:hover {
	background: grey;
	color: white;
}
/*FIN BOTONES Y HOVER */
/*COLORES */
.fondoAmarillo {
	background: #fdba12;
}
.fondoAzul {
	background: #00aff0;
}
.fondoRojo {
	background: #ea4435;
}
.fondoVerde {
	background: #79c254;
}
.fondoBlanco {
	background: white;
}
.fondoNegro {
	background: #231f20;
}
.fondoGris {
	background: grey;
}

.fondoAmarilloClaro {
	background: #fef0cd;
}
.fondoAzulClaro {
	background: #b3ebff;
}
.fondoRojoClaro {
	background: #fad4d1;
}
.fondoVerdeClaro {
	background: #e2f1da;
}
.fondoGrisClaro {
	background: #e6e6e6;
}
/*FIN COLORES */

/* ALINEAR */
.centro {
	text-align: center;
	align-items: center;
}
.izquierda {
	text-align: left;
	align-items: center;
}
.derecha {
	text-align: right;
	align-items: center;
}
.justificado {
	text-align: justify;
	text-justify: inter-word;
}
.enmedio {
	vertical-align: middle;
	display: inline;
}
.abajo {
	vertical-align: bottom;
}
/* FIN ALINEAR */

/*COLOR DE LETRA */
.amarillo {
	color: #fdba12;
}
.azul {
	color: #00aff0;
}
.rojo {
	color: #ea4435;
}
.verde {
	color: #79c254;
}
.blanco {
	color: white;
}
.negro {
	color: #231f20;
}
.gris {
	color: grey;
}
.amarilloClaro {
	color: #fef0cd;
}
.azulClaro {
	color: #b3ebff;
}
.rojoClaro {
	color: #fad4d1;
}
.verdeClaro {
	color: #e2f1da;
}
.grisClaro {
	color: #e6e6e6;
}
/*fin COLOR DE LETRA */

/*TAMAÑO LETRA */
.tmuychica {
	font-size: 10px;
}
.tchica {
	font-size: 13px;
}
.tmediana {
	font-size: 16px;
}
.tgrande {
	font-size: 20px;
}
.tmuygrande {
	font-size: 25px;
}
.tenorme {
	font-size: 35px;
}

@media (max-width: 650px) {
	.tresponsiva {
		font-size: 13px;
	}
}
@media (min-width: 650px) {
	.tresponsiva {
		font-size: 14px;
	}
}
@media (min-width: 1020px) {
	.tresponsiva {
		font-size: 15px;
	}
}

/*fin TAMAÑO LETRA */
/*FONT WEIGHT*/
.wnormal {
	font-weight: normal;
}
.wbold {
	font-weight: bold;
}
.wbolder {
	font-weight: bolder;
}

/*fin FONT WEIGHT*/

/*LINEA SEPARADORA*/
.lmuychica {
	height: 1px;
}
.lchica {
	height: 2px;
}
.lmediana {
	height: 3px;
}
.lgrande {
	height: 4px;
}
.lmuygrande {
	height: 5px;
}
.lenorme {
	height: 10px;
}
/*fin LINEA SEPARADORA*/
/*PADDING*/
.pmuychico {
	padding: 2px;
}
.pchico {
	padding: 5px;
}
.pmediano {
	padding: 10px;
}
.pgrande {
	padding: 15px;
}
.pmuygrande {
	padding: 20px;
}
.penorme {
	padding: 30px;
}
/*paddding arriba*/
.parmuychico {
	padding-top: 5px;
}
.parchico {
	padding-top: 10px;
}
.parmediano {
	padding-top: 15px;
}
.pargrande {
	padding-top: 20px;
}
.parmuygrande {
	padding-top: 25px;
}
.parenorme {
	padding-top: 30px;
}
/*paddding abajo*/
.pabmuychico {
	padding-bottom: 5px;
}
.pabchico {
	padding-bottom: 10px;
}
.pabmediano {
	padding-bottom: 15px;
}
.pabgrande {
	padding-bottom: 20px;
}
.pabmuygrande {
	padding-bottom: 25px;
}
.pabenorme {
	padding-bottom: 30px;
}
/*paddding izquierda*/
.pizmuychico {
	padding-left: 5px;
}
.pizchico {
	padding-left: 10px;
}
.pizmediano {
	padding-left: 15px;
}
.pizgrande {
	padding-left: 20px;
}
.pizmuygrande {
	padding-left: 25px;
}
.pizenorme {
	padding-left: 30px;
}
/*paddding derecha*/
.pdemuychico {
	padding-right: 5px;
}
.pdechico {
	padding-right: 10px;
}
.pdemediano {
	padding-right: 15px;
}
.pdegrande {
	padding-right: 20px;
}
.pdemuygrande {
	padding-right: 25px;
}
.pdeenorme {
	padding-right: 30px;
}
/*fin PADDING*/
/*SIN PADDING NI MARGIN*/
.sinpym {
	padding: 0px;
	margin: 0px;
}
.sinpymde {
	padding-right: 0px;
}
.sinpymiz {
	padding-left: 0px;
}
.sinpymar {
	padding-top: 0px;
}
.sinpymab {
	padding-bottom: 0px;
}
.sinpymlados {
	padding-right: 0px;
	padding-left: 0px;
}

/*fin SIN PADDING NI MARGIN*/
/*SIN formato LINK*/
.linkSF {
	text-decoration: none !important;
}
.linkBlanco a {
	color: white;
	text-decoration: none;
}
.linkBlanco a:hover {
	color: #e6e6e6;
	text-decoration: none;
}

.linkNegro a {
	color: #231f20;
	text-decoration: none;
}
.linkNegro a:hover {
	color: #363031;
	text-decoration: none;
}

.linkAmarillo a {
	color: #fdba12;
	text-decoration: none;
}
.linkAmarillo a:hover {
	color: #bf8c0d;
	text-decoration: none;
}

.linkAzul a {
	color: #00aff0;
	text-decoration: none;
}
.linkAzul a:hover {
	color: #215b7c;
	text-decoration: none;
}

.linkRojo a {
	color: #ea4435;
	text-decoration: none;
}
.linkRojo a:hover {
	color: #bf382b;
	text-decoration: none;
}

.linkVerde a {
	color: #79c254;
	text-decoration: none;
}
.linkVerde a:hover {
	color: #55893b;
	text-decoration: none;
}

/*fin SIN formato LINK*/

/*----------------------------------------------------------------
COLORES

NEGRO #231F20

AZUL #00AFF0
AZUL HOVER #215B7C

ROJO #EA4435
ROJO HOVER #BF382B

VERDE #79C254
VERDE HOVER #55893B

AMARILLO #FDBA12
AMARILLO HOVER #BF8C0D

/*----------------------------------------------------------------*/
